<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to your Account</title>
</head>
<body>
    <div>
        <h2>Login to your Account</h2>
        <div>
            <form action="login" method="get">
                <label for="username">Username</label>
                <input type="text" name="username" id="password">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>