<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account with us</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/download.png">
</head>
<body>
    <div>
        <div>
            <h2>Create your account</h2>
            <p>Create an account so you can effectively manage and access your ToDo lists</p>
        </div>
        <div>
            <form action="register" method="post">
                <label for="username">Username:</label>
                <input id="username" type="text">Please enter your desired username</input>

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="example@email.com" required>

                <label for="password">Password</label>
                <input type="password" id="password" required>

                <label for="confirm"> Confrim Password:</label>
                <input type="password" id="confirm" required>

                <input type="submit" value="Create Account">
            </form>
            <p>Have an account? <a href="/templates/login.html"> Login.</a></p>
        </div>
    </div>
</body>
</html>