<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account with us</title>
</head>
<body>
    <h2>Create your account</h2>
    <p>Create an account so you can effectively manage and access your ToDo lists</p>
    <form action="login" method="post">
        <label for="username">Username:</label>
        <input name="username" type="text">Please enter your desired username</input>

        <label for="email">Email:</label>
        <input type="email">Type in your email</input>

        <label for="password">Password</label>
    </form>
</body>
</html>